/* cyclopedia-app/public/css/tools-match.css */

.tool-image {
  width: 60%;
  max-width: 100px;
  height: 100px; 		/* يمكن تعديل الارتفاع حسب الحاجة */
  object-fit: contain; 	/* للحفاظ على نسبة العرض إلى الارتفاع */
  margin: 20px auto;
  display: block;
}
.options-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.profession-option-btn {
  border: none;
  background: none;
  text-align: center;
  cursor: pointer;
}
.profession-option-btn img {
  width: 100px;
  height: 100px;
}
